* {
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(30, 38%, 92%);
  font-family: "Montserrat", serif;
}

.container {
  width: 375px;
  height: auto;
  margin: 0 auto;

  margin-top: 1rem;

  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
}

.banner {
  background-image: url("images/image-product-mobile.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 20rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-info {
  padding: 0 2rem 2rem 2rem;
}

.text h2 {
  font-family: "Montserrat";
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 12px;
  padding-bottom: 1rem;
  color: hsl(228, 12%, 48%);
}

.text h1 {
  font-family: "Fraunces";
  padding-bottom: 1rem;
  color: hsl(212, 21%, 14%);
}

.text p {
  color: hsl(228, 12%, 48%);
  font-size: 16px;
  line-height: 20px;
}

.price {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
}

.price span {
  font-family: "Fraunces";
  font-size: 28px;
  font-weight: bold;
  margin-right: 1rem;
  color: hsl(158, 36%, 37%);
}

.price p {
  font-size: 12px;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: hsl(158, 36%, 37%);
  color: white;

  font-weight: bold;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
}
svg {
  padding-right: 0.8rem;
}

button:hover {
    background-color: hsl(158, 36%, 15%);
}

@media screen and (min-width: 900px) {
   .container {
    width: 650px;
    flex-direction: row;
    margin-top: 4rem;
    justify-content: left;
   }
   .banner {
    background-image: url("images/image-product-desktop.jpg");
    background-size: cover;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    width: 300px;
    height: 28rem;

    
   }
   .card-info {
    padding: 0rem 2rem;
    width: 300px;
    height: 28rem;
   }
   .text {
    width: 50%;
   }
   .text h2 {
    font-size: 18px;
    padding-top: 1.5rem;
   }

   .text h1 {
    font-size: 32px;
    width: 200px;
   }
   .text p {
    width: 260px;
   }
   button {
    width: 100%;
   }
}